title{ 
margin-bottom: 10px; 
text-align:center; 
width: 50%; 
color:green; 
border: solid black 2px; 
} 

calc_table{
  border:1px grey solid;
  text-align:center;
}

input[type="button"] { 
background-color:green; 
color: black;  
width:100%;
} 

input[type="text"] { 
background-color:white;
text-align:center;
/*width:100%*/;
border-width:1px;
border:none;
} 

input[type="number"] { 
background-color:white;
text-align:right;
/*width:100%*/;
/*border-width:1px;*/
border:1px black solid;
border:none;
} 

th, td {
padding: 5px;
border-width:0px;
text-align:center;
vertical-align:center;
/*border: solid black 2px;*/
}
