div.title{ 
width:500px;
margin-bottom:10px; 
text-align:center;
color:green; 
} 

table.calc_table{
width:500px;
border-style:solid;
border-color:green;
border-width:1px;
text-align:center;
}

input[type="button"] { 
background-color:green; 
color:black;  
width:100%;
} 

input[type="text"] { 
background-color:white;
text-align:center;
border-width:1px;
} 

input[type="number"] { 
background-color:white;
text-align:right;
border-style:solid;
border-color:black;
border-width:1px;
} 

th, td {
padding:5px;
border-width:0px;
text-align:center;
vertical-align:center;
}

body {
  background-image: linear-gradient(to right,grey 1px, transparent 1px); 
}
